#main{
  display: block;
  width: 94%;
  max-width: 1920px;
  padding-top: 5px;
  margin-left: 3%;
  margin-right: 3%;
}
#main h3{
  color: #f2f2f2;
  font-size: max(16px);
}
.grid-list{
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(200px, 12rem));
  grid-gap: 5px;
  justify-content: center;
  position: initial;
}

#title{
  font-size: 3.6vh;
  overflow: hidden;
  white-space: nowrap;
}

.cover-pic{
  width: 100%;
  height: auto;
  max-height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.3s ease;
  border-bottom: #111111 solid;
  border-width: 4px;
}
.cover-pic:hover{
  filter: blur(2px);
  transform: scale(99%);
  border-bottom: #111111 solid;
  border-width: 8px;
}

.card-container{
  width: 91%;
  display: grid;
  border: 5px solid;
  border-radius: 10px;
  border-color: black;
  margin: 5px;
  padding: 0px;
  transition: 0.3s ease;
  box-shadow: rgb(18, 18, 18) 0px 20px 30px -15px;
  margin-top: 10px;
}
.card-container:hover{
  transform: translateY(-5px);
  margin-bottom: -5px;
  border-width: 6px;
  border-color: rgb(25, 25, 25);
  box-shadow: rgb(16, 16, 16) 0px 20px 30px -10px;  
}

.hidden{
  display: none;
  visibility: hidden;
  font-weight: 700;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 0.3s ease;
}

.card-container:hover .hidden {
  width: 85%;
  width: minmax(200px, 400px);
  height: 93%;
  transform: scale(105%);
  display: grid;
  position: absolute;
  visibility: visible;
  pointer-events: none;
  background: linear-gradient(#121212e7, #f3f3f31d);
  border:#101010db solid;
  border-width: 6px;
  border-radius: 10px;
  padding-bottom: 0px;
}
.hidden p {
  color: rgb(236, 236, 236);
  font-size: 16px;
}
.button-container{
  height: 40px;
  margin-top: 0.3em;
  min-width: 95%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: end;

  
}
.button-container button{
  height: 32px;
  width: 80px;
  padding: 5px;
  margin: 5px;
  position:relative;
  
}


.sorting-elements-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 400px));
  grid-gap: 10px;
  grid-template-rows: max-content;
  justify-content: center;
  
}
.search-div{
  padding-left: 3px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  width: 97%;
  border: solid #1c1c1c;
  border-radius: 10px;
  border-width: 2px;
  height: 36px;

}
.sorting-elements-container button{
  max-width: 125px;
  margin: 5px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.9em;
}
.sorting-elements-container input {
  height: 35px;
  width: 100%;
}
.search-div button{
  width: 150px;
  margin: 0px;
  height: 35px;
  padding: 6px;
  font-size: 0.9em;
  
}
.sorting-buttons{
  margin-bottom: -5px;
  padding: 0;
  min-width: 375px;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-device-width: 375px){
  .grid-list{
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(160px, 165px));
    grid-gap: 5px;
    grid-template-rows: min-content;
    justify-content: center;
  }
  h3{
    font-size: 0.9em;
  }
  button{
    margin: 0;
  }
}

#anime-card{
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(200px, 12rem));
  grid-gap: 5px;
  grid-template-rows: min-content;
  justify-content: center;
}
.turn-page-button{
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;

}
.turn-page-button button{
  max-height: 40px;
  margin-top: 8px;
}
