/* Main Container */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  max-width: 1920px;
  padding-top: 5px;
  margin: 0 3%;
  transition: 0.3s ease-in;
}

#main h3 {
  color: #f2f2f2;
  font-size: max(16px);
}

/* Grid List */
.grid-list {
  margin-top: 95px;
  margin: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 12rem));
  width: 100%;
  max-width: 1024px;
  grid-gap: 5px;
  justify-content: center;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Card Container */
.card-container {
  width: 91%;
  display: grid;
  border: 5px solid;
  border-radius: 10px;
  border-color: black;
  margin: 5px;
  padding: 0;
  box-shadow: rgb(18, 18, 18) 0px 20px 30px -15px;
  transition: 0.3s ease;
}

.card-container:hover {
  transform: translateY(-5px);
  margin-bottom: -5px;
  border-width: 6px;
  border-color: rgb(25, 25, 25);
  box-shadow: rgb(16, 16, 16) 0px 20px 30px -10px;
}

/* Cover Picture */
.cover-pic {
  width: 100%;
  height: auto;
  max-height: 260px;
  object-fit: cover;
  border-radius: 5px;
  border-bottom: 4px solid #111111;
}

.cover-pic:hover {
  filter: blur(2px);
  transform: scale(0.99);
  border-width: 8px;
}

/* Hidden Content */
.hidden {
  display: none;
  visibility: hidden;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 0.3s ease;
}

.card-container:hover .hidden {
  width: 85%;
  height: 93%;
  transform: scale(1.05);
  display: grid;
  position: absolute;
  visibility: visible;
  pointer-events: none;
  background: linear-gradient(#121212e7, #f3f3f31d);
  border: 6px solid #101010db;
  border-radius: 10px;
}

.hidden p {
  color: rgb(236, 236, 236);
  font-size: 16px;
}

/* Button Container */
.button-container {
  height: 40px;
  margin-top: 0.3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  height: 32px;
  width: 80px;
  padding: 5px;
  margin: 5px;
}

/* Sorting Elements */
.sorting-elements-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 400px));
  grid-gap: 10px;
  justify-content: center;
}

.sorting-buttons {
  margin-bottom: -5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sorting-elements-container button {
  max-width: 125px;
  margin: 5px;
  font-size: 0.9em;
}

/* Search Div */
.search-div {
  display: flex;
  justify-content: center;
  width: 97%;
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  height: 36px;
}

.search-div input {
  height: 35px;
  width: 100%;
}

.search-div button {
  width: 150px;
  height: 35px;
  margin: 0;
  padding: 6px;
  font-size: 0.9em;
}

/* Pagination */
.turn-page-button {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10%;
}

.turn-page-button button {
  max-height: 40px;
  margin-top: 8px;
}

/* Media Queries */
@media screen and (max-device-width: 375px) {
  .grid-list {
    margin: 0 15px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 165px));
    grid-template-rows: min-content;
  }

  h3 {
    font-size: 0.9em;
  }

  button {
    margin: 0;
  }
}

/* Animations */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
