#header{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 40%));
  justify-content: space-between;
  background-color: black;
  padding: 1%;
}
#icon{
  width: auto;
  max-height: 90px;
  min-height: 50px;
  height: 90%;
}
#logo-container{
  display: flex;
}
#logo-title{
  font-size: 8vh;
}
#nav-bar-container{

  justify-self:center;
  margin-top: 22px;
}