button{
  width: 120px;
}

#header{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 40%));
  justify-content:space-between;
  background-color: black;
  padding: 1%;
}
#icon{
  width: auto;
  max-height: 80px;
  min-height: 50px;
  height: 90%;
}
#logo-container{
  display: flex;
}
#logo-title{
  font-size: 28px;
}
#nav-bar-container{
  justify-self:center;
  margin-top: 18px;
  display: block;
  
}
#nav-button-container{
  margin-left: -2px;
  display:  grid;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(97, 97, 97);
  padding: 3px;
}
#nav-button-container button{
  margin: 1px;
}

